* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-Regular.ttf");
  font-weight: 400;
  display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-Bold.ttf");
  font-weight: 700;
  display: swap;
  font-style: normal;
}
