.text {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  color: #121212;
}

.text:hover {
  text-overflow: unset;
}

.heavy {
  font-weight: 700;
}

.textSmall {
  font-size: 12px;
  color: rgb(128, 128, 128);
}

.container {
  background: linear-gradient(90deg, rgba(244, 240, 243, 1) 0%, rgba(234, 243, 247, 1) 62%);
  display: flex;
  justify-content: center;
  padding: 60px 100px;
  min-height: 100vh;
}

.eventList {
  width: 700px;
  box-shadow: 0px 0px 9px 0px rgba(62, 118, 244, 0.14);
}

.listItem {
  height: 90px;
  padding: 26px 20px;
  background: white;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgba(62, 118, 244, 0.14);
  transition: 0.34s ease all;
}

.listItem:last-child {
  border-bottom: 0;
}

.listItem:hover {
  transition: 0.3s ease all;
  animation: breath 2s ease infinite;
}

.listItem::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  bottom: -1px;
  background-color: #b7d3c8;
  transition: 0.3s ease all;
  z-index: -1;
}

.listItem:hover::before {
  height: 90px;
}

.avatar {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.row {
  display: flex;
}

.mr {
  margin-right: 10px;
}

.toTop {
  background-color: #1850e9; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  position: fixed;
  bottom: 60px;
  right: 20px;
  cursor: pointer;
}

@keyframes breath {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.01, 1.04, 1.01);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
